<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department List</title>
</head>
<body>
  <h1>Department List</h1>
  <table th:border="1">
    <thead>
      <tr>
        <th>Department ID</th>
        <th>Department Name</th>
      </tr>
    </thead>
  <tbody>
    <tr th:each="department : ${departments}">
      <td th:text="${department.deptId}"></td>
      <td th:text="${department.deptName}"></td>
    </tr>
  </tbody>
  </table>
</body>
</html>