<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
hello
<p>Welcome</p>
<table>
    <thead>
    <tr>
        <th>User ID</th>
        <th>UserName</th>
        <th>Email</th>
        <th>Name</th>
        <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getPassword()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>